:root {
  --background-color: hsla(0, 0%, 14%, 0.8);
  --cell-background-color: hsla(0, 0%, 10%, 0.8);
  --text-color: #ffffff;
  --border-color: #ffffff;
  --header-color: #00366f;
  --header-shadow: rgb(255, 255, 255);
  --temperature-color: #00366f;
  --energy-color: #007bff;
  --cell-shadow: 4px 2px 13px rgb(9, 18, 150);
}

.light-mode {
  --background-color: hsla(51, 100%, 89%, 0.3);
  --cell-background-color: hsla(193, 100%, 95%, 0.7);
  --text-color: #00366f;
  --border-color: #0660c0;
  --header-color: #00366f;
  --header-shadow: rgb(255, 255, 255);
  --temperature-color: #00366f;
  --energy-color: #007bff;
  --cell-shadow: 4px 2px 13px rgb(9, 18, 150);
}

.dark-mode {
  --background-color: hsla(0, 0%, 14%, 0.8);
  --cell-background-color: hsla(0, 0%, 10%, 0.8);
  --text-color: #ffffff;
  --border-color: #ffffff;
  --header-color: #ffffff;
  --header-shadow: rgb(111, 111, 111);
  --temperature-color: #ffffff;
  --energy-color: #80dfff;
  --cell-shadow: 4px 2px 13px rgb(248, 255, 203);
}

.forecast-container {
  margin: 20px;
  border: 3px solid var(--border-color); 
  border-radius: 15px;
  background-color: var(--background-color);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--header-color);
  text-shadow: 0px 0px 10px var(--header-shadow);
  font-size: 30px;
}

.forecast-table {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  justify-content: center;
}

.forecast-table .forecast-cell {
  width: 190px; 
  box-sizing: border-box; 
  padding: 5px;
  border: 3px solid var(--border-color); 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: var(--cell-shadow);
  background-color: var(--cell-background-color);
}

.forecast-table .date {
  font-size: 1.2em;
  color: var(--text-color);
  font-weight: 700;
  margin: 6px;
}

.forecast-cell .icon span {
  font-size: 50px;
}

.forecast-table .temperature {
  font-size: 1em;
  font-weight: bold;
  color: var(--temperature-color);
}

.forecast-table .energy {
  color: var(--energy-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
